[submodule "lib/discovery"]
	path = lib/discovery
	url = git@github.com:rranshous/discovery.git
[submodule "lib/images"]
	path = lib/images
	url = git@github.com:rranshous/images.git
[submodule "lib/revent"]
	path = lib/revent
	url = git@github.com:altalang/Revent.git
